<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DocumentQuantity" value="2" />
    <add key="XmlPath" value="C:\Users\Hp\Downloads\UBL21InvoiceGenerator\UBL21InvoiceGenerator\AppData\invoiceTemplate.xml"/>
  </appSettings>  
</configuration>

